<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Artist</title>
</head>
<body>
  <h1>All Artist</h1>

  <% @artists.each do |artist| %>

  <% @artist["name"] %>
  <% @artist["genre"] %>
  
</body>
</html>